.box{
    height: 105vh;
    width: 101%;   
    animation: SS 8s 0s 20 forwards;
    
    margin-left: -1%;
    margin-top: -1%;
}
@keyframes SS {
    0% { background-color: red; }
    20% { background-color: yellow; }
    40% { background-color: cyan; }
    60% { background-color: maroon; }
    80% { background-color: blue; }
    100% { background-color: red; }
} 
/* .contener{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: black;
}
.box{
    height: 25%;
    width: 15%;
    border-radius: 60%;
    background-image: conic-gradient(red,blue,green,red);
    animation: SS 8s 0s 20 forwards;
    position: absolute;
}
@keyframes SS {
    0% { top: 0px; left: 0px;}
    10% { top: 300px; left: 0%; }
    20% { top: 600px; left : 0% }
    40% { top: 600px; left: 500px; }
    60% { top: 600px; left: 1200px; }
    80% { top: 300px; left: 1200px; }
    90% { top: 0px; left: 1200px;}
    100%{ top: 0px; left: 0px;}
} */