.first{
    background-color: aqua;
}
.Header{
    background-color: rebeccapurple; 
    height:5vh;
}
.Content{
    background-color: orange;
    height: 30vh;
}
 .Entry{
    float: left;
    width: 47%;
    height: 200px;
} 
#p1 , #p2 , #p3{
    float: left;
    width: 700px;
    background-color: black;
    height: 26px;
}
.Sidebar{
    float: right;
    width: 47%;
    height: 200px;
}
.DU{
    background-color: blue;
    padding: 2px;
    height: 40px;
}
@media (max-width: 910px){
    .Entry{
        float: left;
        width: 47%;
        /* background-color: ; */
        height: 100px;
    }
    .Sidebar{
        float: right;
        width: 47%;
        height: 150px;
    }
    #p1 , #p2 , #p3{
        float: left;
        width: 400px;
        background-color: black;
        height: 25px;
    }
    .DU{
        height: 50px;
    }
}
@media (max-width: 750px) {
    #p1 , #p2 , #p3{
        width: 350px;
    }
}
@media (max-width: 650px) {
    #p1 , #p2 , #p3{
        width: 250px;
        height: 20px;
    }
}