.outside{
    background-color: aqua;
    height: 60vh;
    width: 100%;
}
.r1{
    background-color: purple;
    height: 4vh;
    width: 100%;
    color: white;
    padding: 0px;
}
.outside p{
    margin-left: 1%;
    margin-bottom: 0px;
}
.r2{
    background-color: yellow;
    height: 40vh;
    width: 100%;
}
.r3{
    background-color: blue;
    height: 5vh;
    width: 100%;
    color: white;
}
.c1{
    
    height: 5vh;
}