@media (max-width: 450px) {

    .left {
        overflow: hidden;
        position: absolute;
        left: 5%;
        float: left;
        width: 50%;
        height: 40vh;
        margin-left: 3%;
        border-radius: 15px;
        border: 2px solid black;
    }

    .last {
        position: absolute;
        top: 57%;
        background-color: darkblue;
        width: 100%;
        height: 13vh;
        text-align: center;
        color: white;
        padding-top: 4%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.menu {
    background-color: black;
    height: 7vh;
    width: 100%;
    color: azure;
    padding-top: 1%;
}

.menu label {
    margin: 1%;
}

.main1 {
    background-color: aliceblue;
    width: 100%;
    height: 90vh;
    text-align: center;
    padding-top: 2%;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    font-size: 25px;
}

.left {
    overflow: hidden;
    position: absolute;
    left: 5%;
    float: left;
    width: 30%;
    height: 70vh;
    margin-left: 3%;
    border-radius: 15px;
    border: 2px solid black;
}

.left img {
    width: 100%;
    height: 100%;
}

.one {
    height: 19vh;
    background-color: gray;
}
.black{
    height: 4vh;
    width: 25%;
    position: absolute;
    top: 0%;
    left: 13%;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 23px;
}
.text{
    float: right;
    margin: 5% 5% 2% 0%;
    opacity: 60%;
    width: 55%;
    height: auto;
    text-align: end;
}
.one h2{
    float: right;
    margin: 2% 5% 0% 0%;
    font-family: sans-serif;
}
.two {
    height: 19vh;
    background-color: white;
    font-size: 55px;
}

.three {
    font-size: 250px;
    height: 32vh;
    background-color: yellow;
    font-family: sans-serif;
    font-weight: bold;
}
.three .ver{
    position: absolute;
    left: 36%;
    top: 62%;
    height: 30%;
    width: 40%;
    transform: rotate(-90deg);
    font-size: 18px;
    color: yellow;
}
.right {
    float: right;
    position: absolute;
    left: 50%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.rec {
    position: absolute;
    padding-top: 1%;
    left: 15%;
    height: 5vh;
    width: 350px;
    color: white;
    background-color: orange;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.last {
    position: absolute;
    top: 97%;
    background-color: rgb(6, 1, 65);
    width: 100%;
    height: 17vh;
    text-align: center;
    color: white;
    padding-top: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.find {
    position: absolute;
    left: 30%;
    width: 40%;
    background-color: orange;
    color: white;
    height: 4vh;
    padding-top: 0.5%;
    border-radius: 5px;
}