body {
    background-color: gray;
}

.box {
    padding: 40px;
    text-align: center;
    position: relative;
    left: 100px;
    width: 130px;
    height: 50px;
    font-size: 20px;
    background-color: aqua;
    font-weight: bold;
    animation: a1 9s 1s infinite ;
}

@keyframes a1 {
    0% {
        top: 0px;
        left: 100px;
        width: 130px;
        height: 50px;
        font-size: 20px;
        background-color: aqua;
    }
    
    25% {
        top: 0px;
        left: 850px;
        width: 250px;
        height: 110px;
        font-size: 40px;
        background-color: green;
    }
    
    50% {
        top: 620px;
        left: 850px;
        width: 130px;
        height: 50px;
        font-size: 20px;
        background-color: yellow;
    }
    
    75% {
        top: 620px;
        left: 100px;
        width: 250px;
        height: 110px;
        font-size: 40px;
        background-color: green;
    }
    
    100% {
        top: 0px;
        left: 100px;
        width: 130px;
        height: 50px;
        font-size: 20px;
        background-color: aqua;
    }
}